body, html{
    margin: 0px;
    padding: 0px;  
    height: 100%;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin: 15px;
}

#photo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eeeeee;
}

nav ul li {
    float: right;
}
  
nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 40px;
}
  
nav ul li a:hover {
    background-color: black;
    color: white;
}

.navbar-brand {
    float: left;
    font-family: 'Sora', sans-serif;
}

.navbar-brand a:hover {
    font-weight: 800;
    background-color: #eeeeee;
    color: black;
}

.navbar-nav a {
    float: right;
}

.summary h2 {
    text-align: center;
}

.contact h2 {
    text-align: center;
}

.contact ul {
    text-align: center;
}

.contact li {
    display: inline-block;
}

.contact li a {
    text-decoration: none;
}

.email h2 {
    text-align: center;
}

.email a {
    text-align: center;
    text-decoration: none;
    display:block
}

h1 {
    text-align: center;
}

.about p {
    text-align: center;
}

.about ul {
    text-align: center;
}

.about ul li {
    list-style-type: none;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 30vh);
    grid-gap: 1.5 rem;
  
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .img_1 {
    grid-column: 1 / span 2;
    grid-row: 1
}

.gallery .img_6 {
    grid-column: 1 / span 2;
    grid-row: 4
}

.gallery .img_7 {
    grid-column: 1;
    grid-row: 5 / span 2;
}

.gallery .img_8 {
    grid-column: 2;
    grid-row: 5 
}

.gallery .img_9 {
    grid-column: 2;
    grid-row: 6
}

.main {
    min-height: 100%; 
    background-image:    url(../imgs/blur-branding-check-1032109.jpeg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 100%;
    width: 100%;    
    height: 100vh;
    width: 100vw;
 
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    margin-bottom: 20px;
}

footer{
    padding: 20px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
 
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text{
    color: blanchedalmond;
}

.learn-more{
    margin: 20px;
}

h2{
    margin: 15px;
    font-size: 28px;
    text-align: center;
}

.skills-container{
    width: 50%;
    margin: 0 auto;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }

  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.intermediate::before{
    background-color: #3bf387;
  }
  .bar.advanced::before{
    background-color: #fced26;
  }
  .bar.expert::before{
    background-color: #fa6c0e;
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(75% - 10px);
  }
  .bar.expert::before{
    width: calc(90% - 10px);
  }
  
